.Board {
  display: block;
  text-align: center;
  margin: auto;
  padding: 0.5% 0;
  width: 100%;
  background-color: #444;
}

.Cell {
  /* 1:1 Aspect Ratio, 1%+31+1% x 1%+31+1% multiline flow. Note: don't use wide borders! */
  display: inline-block;
  width: 31%;
  padding-top: 31%;
  margin: 1%;
  /* Other styling */
  border-radius: 15%;
}

/*==============================================================================
Modifyers and run-time paramenters
================================================================================
The look of every cell depends on a value of associated cells[] and states.
The board controls are active only if there is a game with human player.
Follownig CSS calss modifyers are using depending on game and control states.
gameState:	0	= .gameNo
			1	= .gamePvp			
			2	= .gamePvc
			101	= .gameDemo			
winner	:	0	= .winnerNo
			1	= .winnerX
			-1	= .winnerO
turn	: 	0	= .turnNo	
			1 	= .turnX 
			-1 	= .turnO
cells[] : 	0	= .cellNo
			1 	= .cellX
			-1 	= .cellO
			any	= .cellWin - highligt when game is over and there is a winner
*/

/* 
These modifiers should be applyed to the container, not to a cell. 
*/
.gameNo {
}
.gamePvp {
}
.gamePvc {
}
.gameDemo {
}

.winnerNo {
}
.winnerX {
}
.winnerO {
}

.turnNo {
}
.turnX {
}
.turnO {
}

/* 
These modifiers should be applyed to cells and other controls 
*/
.cellNo {
  background-color: #888;
}

.cellX {
  background-color: #888;
  background-image: url("./x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cellO {
  background-color: #888;
  background-image: url("./o.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cellWin {
  background-color: #0f0;
}

/*
Highlights for empty cell when some player can make a turn
*/
.turnX .cellNo:hover {
  background-color: #00f;
  cursor: crosshair;
}
.turnO .cellNo:hover {
  background-color: #f00;
  cursor: crosshair;
}
