.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222;
}

.app-header h1 {
  font-size: 4vh;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-footer {
  display: block;
  background-color: #fff;
  padding: 1vmin;
  color: #222;
  text-align: center;
  font-size: 2vmin;
}

.app-footer a {
  color: #222;
  text-decoration: none;
}

.app-footer a:hover {
  text-decoration: underline;
}
